<footer id="template-izhczv" class="gep-ibmfourthtag">
    <div id="template-i232or" class="gep-secondtag">
        <div id="template-iacrog" class="row">
            <div id="template-iugkvk" class="col-lg-3 col-md-3 col-sm-3">
                <div id="template-ionya4" class="gep-ibm-padding-bottom-5 gep-ibm-padding-top-3">
                    
<h3 id="template-i4u2yq" class="">
Discover</h3>

                </div>
                <div id="template-iv28tw" class="">Products</div>
                <div id="template-igfs8u" class="">Trials</div>
                <div id="template-i0cewc" class="">Services</div>
                <div id="template-ibwivr" class="">Industries</div>
                <div id="template-i8vr6f" class="">IBM discounts</div>
                <div id="template-i746em" class="">Case studies</div>
            </div>
            <div id="template-ionwcl" class="col-lg-3 col-md-3 col-sm-3">
                <div id="template-il64kl" class="gep-ibm-padding-bottom-5 gep-ibm-padding-top-3">
                    
<h3 id="template-i56qva" class="">
Information for...</h3>

                </div>
                <div id="template-izuoub" class="">Developers</div>
                <div id="template-isby4s" class="">Business Partners</div>
                <div id="template-idtbb5" class="">Fedreal and state contracts</div>
            </div>
            <div id="template-idep2k" class="col-lg-3 col-md-3 col-sm-3">
                <div id="template-iwynfm" class="gep-ibm-padding-bottom-5 gep-ibm-padding-top-3">
                    
<h3 id="template-iv4uyn" class="">
Connect with us</h3>

                </div>
                <div id="template-i27t6w" class="">Support</div>
                <div id="template-isctzr" class="">Find a sales rep</div>
                <div id="template-ihwi8z" class="">Find a Business Partner</div>
            </div>
            <div id="template-ikp2uh" class="col-lg-3 col-md-3 col-sm-3">
                <div id="template-iuzusc" class="gep-ibm-padding-bottom-5 gep-ibm-padding-top-3">
                    
<h3 id="template-i7z41y" class="">
About IBM</h3>

                </div>
                <div id="template-ic5tx6" class="">Careers</div>
                <div id="template-il5297" class="">Latest news</div>
                <div id="template-ihy0u5" class="">Investor realtions</div>
                <div id="template-ihirzr" class="">Corporate responsibility</div>
                <div id="template-i6zzef" class="">About IBM</div>
            </div>
        </div>
    </div>
    <hr id="template-ifq9sl" class="">
    <div id="template-ih6k8j" class="gep-secondtag">
        <div id="template-igluut" class="">
<span id="template-itg9l4" class="">
Contact</span>

<span id="template-idme0w" class="gep-footercontent">
Privacy</span>

<span id="template-ie5l1y" class="gep-footercontent">
Terms of use</span>

<span id="template-ifax4v" class="gep-footercontent">
Accessibility</span>

<span id="template-ialb51" class="gep-footercontent">
Cookie preferences</span>

<span id="template-ipov3j" class="Geppetto">
<div id="template-ileofk" class="">
Powered By Geppetto </div>
<img src="/application/clients/desktop/src/assets/templates/IBM copy/images/GeppettoIcon.png" width="50" height="50" id="template-ioolwf" class=""/>
</span>

        </div>
    </div>
</footer>